<%= form_for(@rating, :as => :post, :url => rating_create_path(@rating)) do |f| %>
 <div class="field">

 </div>
   <%= f.hidden_field :user_id, :value => current_user.id %>
   <%= f.hidden_field :rating_user_id, :value => @chosen_match[:user][:id] %>
 <div class="field">
<ul id="ratings">
   <li>
     <label id="good" for="post-rating_1">
       <%= f.radio_button(:rating, 1) %>
       <span class="glyphicon glyphicon-thumbs-up"><%#=  class: 'thumb' %></span>
   </li>
   <li>
     </label>
     <label id="bad" for="post-rating_-1">
       <%= f.radio_button(:rating, -1) %>
       <span class="glyphicon glyphicon-thumbs-down"></span>
     </label>
   </li>
 </ul>

 </div>

 <div class="actions">
   <%= f.submit "Rate", :class => 'ghost-button' %>
 </div>
<% end %>
