<%= form_for(@rating) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_name %><br>
    <%= f.text_field :game_name %>
  </div>
  <div class="field">
    <%= f.label :appid %><br>
    <%= f.text_field :appid %>
  </div>
  <div class="field">
    <%= f.label :playtime %><br>
    <%= f.text_field :playtime %>
  </div>
  <div class="field">
    <%= f.label :img_icon_url %><br>
    <%= f.text_field :img_icon_url %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
