<p id="notice"><%= notice %></p>


<div class="recentgames">
<h1>Choose a game</h1>

<table class="table table-bordered table-hover">
  <thead>

    <tr>
      <th class="active">    <%= image_tag session[:current_user]["image"] %>
             <br><%= current_user.name %>'s Games </th>
      <th class="active">Appid</th>
      <th class="active">Playtime</th>
      <th class="active">Img icon url</th>
      <th class="active">User</th>

    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td class="active"> <button type="button" class="btn btn-success">Find match</button> <%= game.game_name %></td>
        <td class="active"><%= game.appid %></td>
        <td class="active"><%= game.playtime %></td>
        <td class="active"><%= game.img_icon_url %></td>
        <td class="active"><%= game.user %></td>

      </tr>
    <% end %>
  </tbody>
</table>

</div>
