
<body>

  <center>
    <h1 class="recenttitle">Choose a game</h1>
  </center>


  <div class="recentgames">


    <div class="findmatch-n">
      <div class="findbutton">
        <p id="notice"><%= notice %>
        </div>
      </div>

<div class="row" style="margin: 10px 75px;">
        <div class="usercolumn-n col-lg-6" style="border: 1px black solid; float:left; width:45%; height: 250px;">
          <div class="usercontent" style="">
            <center><h3> Welcome  <%= current_user.nickname %>! </h3>
              <%= image_tag session[:current_user]["image"] %>
              <br><%= current_user.name %> also known as </th>
              <br><%= current_user.nickname %>
              <br><a href="<%= session[:current_user]["profileurl"] %>"><%= current_user.nickname %>'s Profile</a>
            </center>
          </div>
        </div>



        <div class="gamescolumn-n col-lg-6" style="border: 1px black solid; float: right; width: 45%; height: 250px; ">
            <h3 style="text-align: center">
              Choose a Game
            </h3>
            <div class="row">

              <% @games.each do |game| %>

                <div class="col-lg-2" style="margin-top:20px;">
                  <img src="http://media.steampowered.com/steamcommunity/public/images/apps/<%= game.appid %>/<%= game.img_icon_url %>.jpg")/ style="width:50px; height:50px;"></a>
                </div>
                <div class="col-lg-10">
                  <h4 style="text-align:center"><%= game.game_name %></h4>
                  <hr>
                  <p style="text-align:center">Your gametime for this game is <%= game.playtime.to_i/60 %> hours</p>
                  <!--In order to display the game's icon, the 'appid' and the 'img_icon_url' were inserted inside a template steam url  -->

                <%= link_to "Find people playing #{game.game_name}",{controller: "games", action: "matchpage", id: game.appid}, class: "btn-default btn-lg" %>

                </div>
                <% end %>
            </div>
      </div>
</div>



</body>
