
<body>

  <center>
    <h1 class="recenttitle">Choose a game</h1>
  </center>



  <div class="recentgames">


    <div class="findmatch">
      <div class="findbutton">
        <p id="notice"><%= notice %>
        </div>
      </div>

<div class="row">
        <div class="usercolumn-n col-lg-6" style="border: 1px black solid">
          <div class="usercontent">
            <center><h3> Welcome  <%= current_user.nickname %> </h3>
              <%= image_tag session[:current_user]["image"] %>
              <br><%= current_user.name %> also known as </th>
              <br><%= current_user.nickname %>
              <br><a href="<%= session[:current_user]["profileurl"] %>"><%= current_user.nickname %>'s Profile</a>
            </center>
          </div>
        </div>



        <div class="gamescolumn-n col-lg-6" style="border: 1px black solid">
          <center>
            <h3>
              Games
            </h3>
            <ul>
              <% @games.each do |game| %>

              <li><%= link_to "Match by this game", controller: "games", action: "matchpage", id: game.appid %></li>
              <li class="gameicon"><img src="http://media.steampowered.com/steamcommunity/public/images/apps/<%= game.appid %>/<%= game.img_icon_url %>.jpg")/></a></li>
              <li><%= game.game_name %></h5></li>
              <li>Your play time is  <%= game.playtime %> minutes</li>
              <!--In order to display the game's icon, the 'appid' and the 'img_icon_url' were inserted inside a template steam url  -->

              <% end %>
            </ul>
          </div>
        </center>
      </div>
</div>

</body>
