
<body class="findgamebody">
  <center>
    <h1 class="recenttitle animated slideInDown">Choose a game</h1>
    <center><h2 class="notice animated bounce"><%= notice %></h2></center>
  </center>



  <div class="recentgames">

    <div class="column-container" style="margin: 20px 75px;">
      <div class="usercolumn col-lg-6 animated slideInLeft" style=" float:left; width:45%; height: auto;">
        <div class="row usercontent" style="padding-bottom: 10px">
        <h1 style="text-align:center;">&nbsp;&nbsp;&nbsp;Welcome <%= current_user.nickname %>! </h1>

        <div class="col-lg-3" style="text-align:center; top: 25px">
            <span><%= image_tag session[:current_user]["image"] %></span>
        </div>
        <div class="col-lg-9" style="padding-right:0">
            <!-- <br><p>Your current nickname is </p> -->
            <!-- <h2 style="text-align:center"><%= current_user.nickname %></h2> -->
            <div class="button-wrapper" style="text-align: center; margin: 20px">
              <%= link_to "Your Profile", session[:current_user]["profileurl"], class: "ghost-button" %>
            </div>

            <h4 style="display:inline">Your rating: <h4 class="rating"><%= @current_user_rating %></4></h4>


              <p>Your recently played games: </p>
              <div class="recent-games-sidebyside" style="text-align:center" >
              <% @games.each do |game| %>
                <img src="http://media.steampowered.com/steamcommunity/public/images/apps/<%= game.appid %>/<%= game.img_icon_url %>.jpg")/ style="width:50px; height:50px;"></a>

              <% end %>
              <p>
                <%= link_to "Add funds to your Steam account", "http://store.steampowered.com/steamaccount/addfunds" %>
              </p>
              <p>
              <%= link_to "Steam chat", "https://steamcommunity.com//chat/" %>
              </p>
                <p>
                    <%= link_to "Steam Community", "http://steamcommunity.com/" %>
                </p>
                <p>
                  <%= link_to "Steam Support", "https://help.steampowered.com/" %>
                </p>

                <p>
                  <%= link_to "Explore Steam Discovery", "http://store.steampowered.com/explore/" %>
                </p>

            </div>
        </div>

          </div>
        </div>



        <div class="gamescolumn col-lg-6 animated slideInRight" style="float: right; width: 45%; height: auto; padding: 0 5%; ">
          <h1 style="text-align: center">
            Choose a Game
          </h1>
          <div class="row">


            <% @games.each do |game| %>
            <div class="col-lg-12" style="margin-bottom:10px; text-align:center;">
                <hr>
                <div class="col-lg-4" style="margin-top:20px;">
                  <img src="http://media.steampowered.com/steamcommunity/public/images/apps/<%= game.appid %>/<%= game.img_icon_url %>.jpg")/ style="width:50px; height:50px;"></a>
                </div>
                <div class="col-lg-8" style="margin-bottom:10px; ">
                  <h3 style=""><%= game.game_name %></h3>
                  <p style="">Your play time is <%= game.playtime.to_i/60 %> hours</p>
                  <!--In order to display the game's icon, the 'appid' and the 'img_icon_url' were inserted inside a template steam url  -->
                  <div class="button-wrapper" style="">
                    <%= link_to "Find #{game.game_name} players",{controller: "games", action: "matchpage", id: game.appid}, class: "ghost-button", style: "width: 200px;" %>
                  </div>
                </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>


    </div>
  </div>

</body>
