
<body>

  <center>
    <h1 class="recenttitle animated slideInDown">Choose a game</h1>
  </center>



  <div class="recentgames">


    <div class="alert-message error">
      <center><p class="animated bounce"><%= notice %></p></center>
    </div>


    <div class="column-container" style="margin: 20px 75px;">
      <div class="usercolumn-n col-lg-6 animated slideInLeft" style="border: 1px black solid; float:left; width:45%; height: auto;">
        <div class="row usercontent" style="padding-bottom: 10px">
        <h1 style="text-align:center;">&nbsp;&nbsp;&nbsp;Welcome <%= current_user.nickname %>! </h1>

        <div class="col-lg-3" style="text-align:center; top: 25px">
            <span><%= image_tag session[:current_user]["image"] %></span>
        </div>
        <div class="col-lg-9" style="padding-right:0">
            <br><p>You are currently also known as...</p>
            <h2 style="text-align:center"><%= current_user.nickname %></h2>
            <div class="button-wrapper" style="text-align: center; margin: 20px">
              <%= link_to "Your Profile", session[:current_user]["profileurl"], class: "btn-default btn-sm" %>
            </div>
            <h4 style="display:inline">Your rating: <p style="display:inline"><%= @current_user_rating %></p></h4>

              <p>Your Recent Games:</p>
              <div class="recent-games-sidebyside" style="text-align:center" >
              <% @games.each do |game| %>
                <img src="http://media.steampowered.com/steamcommunity/public/images/apps/<%= game.appid %>/<%= game.img_icon_url %>.jpg")/ style="width:50px; height:50px;"></a>

              <% end %>


            </div>
        </div>

          </div>
        </div>



        <div class="gamescolumn-n col-lg-6 animated slideInRight" style="border: 1px black solid; float: right; width: 45%; height: auto; padding: 0 5%; ">
          <h3 style="text-align: center">
            Choose a Game
          </h3>
          <div class="row">


            <% @games.each do |game| %>
            <div class="col-lg-12" style="margin-bottom:10px; text-align:center;">
                <hr>
                <div class="col-lg-4" style="margin-top:20px;">
                  <img src="http://media.steampowered.com/steamcommunity/public/images/apps/<%= game.appid %>/<%= game.img_icon_url %>.jpg")/ style="width:50px; height:50px;"></a>
                </div>
                <div class="col-lg-8" style="margin-bottom:10px; ">
                  <h4 style=""><%= game.game_name %></h4>
                  <p style="">Your play time is <%= game.playtime.to_i/60 %> hours</p>
                  <!--In order to display the game's icon, the 'appid' and the 'img_icon_url' were inserted inside a template steam url  -->
                  <div class="button-wrapper" style="">
                    <%= link_to "Find #{game.game_name} players",{controller: "games", action: "matchpage", id: game.appid}, class: "btn-default btn-sm", style: "width: 200px;" %>                  
                  </div>
                </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>


    </div>
  </div>

</body>
