<p id="notice"><%= notice %></p>


<div class="recentgames">
<center><h1 class="recenttitle">Choose a game</h1></center>

<div class="findmatch">
  <div class="findbutton">
    <%= link_to games_matchpage_path do %>
  <button class="btn btn-primary btn-lg"> Find Match </button>
  <% end %>
  </div>
</div>

  <div class="usercolumn">
    <div class="usercontent">
    <center><h3> Welcome  <%= current_user.nickname %> </h3>
   <%= image_tag session[:current_user]["image"] %>
             <br><%= current_user.name %> also known as </th>
               <br><%= current_user.nickname %>
              <br><a href="<%= session[:current_user]["profileurl"] %>"><%= current_user.nickname %>'s Profile</a>

             </center>
    </div>

  </div>




        <div class="gamescolumn">
          <center><h3> Games </h3>
            <ul>
            <% @games.each do |game| %>
<li class="gameicon"><%#= game.img_icon_url %>Temp</li>
         <li><button type="button" class="btn btn-success btn-xs">Select Game</button> <h5><%= game.game_name %></h5></li>
        <li><%= game.playtime %></li>





    <% end %>
  </ul>
  </center>


      </div>
  </div>
