<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Found a Match</title>
  </head>
  <body>
    <!-- THIN CONTROLLER, FAT MODEL.  THIS CODE SHOULD GO IN THE CONTROLLER, BECOME AN INSTANCE VARIABLE,
 GET DISPLAYED IN THIS VIEW, AFTERWARDS IT SHOULD BE REFACTORED TO A MAMES HELPER METHOD OR BE IN THE GAMES MODEL.
  IT SHOULD NOT BE IN THE VIEW  -->
    <div class="match">
      <center>
        <br>
        <%= image_tag session[:current_user]["image"] %>
        <h3>Games array length(number of players):<%= @games.length %>(in case we want to use this information)</h3>
        <!-- .sample will randomly choose a user from the @game array -->
        <!-- An opponent is being choosed randomly, we need to display it propely commenting of the bottom lines
         made the rest of the users to not appear -->
        <h4><%= @games.sample %></h4>
        
        <%# @games.each do |game_user| %>
        <!-- <br><%#= game_user[:user].nickname %> -->
        <!-- is your match ! -->
        <!-- <br> -->
        <!-- <b>Match Game name: -->
        <!-- </b><%#= game_user[:game].game_name %> -->
        <!-- <br>Match icon url: -->
        <%#= game_user[:game].img_icon_url %>
        <!-- <p>Matched User id: -->
          <!-- <%#= game_user[:user].nickname %></p> -->
        <%# end %>

        <br>
        <a href="<%= session[:current_user][" profileurl"] %>"><%= current_user.nickname %>'s Profile</a>
        <!-- Dont we want to show the match's profile rather than the user? -->
        <!-- <a href="<%#= session[:current_user][" profileurl"] %>"><%#= chosen_opponent[:nickname] %>'s Profile</a> -->

      </center>
    </div>
  </body>
</html>
