<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Found a Match</title>

  </head>
  <body>
    <!-- THIN CONTROLLER, FAT MODEL.  THIS CODE SHOULD GO IN THE CONTROLLER, BECOME AN INSTANCE VARIABLE,
 GET DISPLAYED IN THIS VIEW, AFTERWARDS IT SHOULD BE REFACTORED TO A GAMES HELPER METHOD OR BE IN THE GAMES MODEL.
  IT SHOULD NOT BE IN THE VIEW  -->


    <div class="match animated slideInDown">

        <br>

        <h4 class="animated slideInLeft"id="user-image"><img src="<%= @chosen_match[:user][:user_image] %>"</h4>


<h3>Meet <%= @chosen_match[:user][:nickname] %></h3> <%= @chosen_match[:user][:nickname] %> also owns
          <br><h4> game</h4><br>
          <h4> game</h4><br>
          <h4> game</h4>
        <h4><%#= @games.sample %></h4>
        <%# byebug %>

          <!-- display matched user details-->
        <h4><%= @chosen_match[:user][:nickname] %></h4>
        <h4><%= @chosen_match[:user][:name] %></h4>
        <h4><%= link_to @chosen_match[:user][:user_profile], @chosen_match[:user][:user_profile] ,:target => "_blank", class: 'thelink' %></h4>

        <h4><%= @chosen_match[:user][:rating]%></h4>
        <h4><%= @chosen_match[:user][:user_location] %></h4>

        <%# @games.each do |game_user| %>
        <!-- <br><%#= game_user[:user].nickname %> -->
        <!-- is your match ! -->
        <!-- <br> -->
        <!-- <b>Match Game name: -->
        <!-- </b><%#= game_user[:game].game_name %> -->
        <!-- <br>Match icon url: -->
        <%#= game_user[:game].img_icon_url %>
        <!-- <p>Matched User id: -->
          <!-- <%#= game_user[:user].nickname %></p> -->
        <%# end %>

        <br>
        <a href="<%= session[:current_user][" profileurl"] %>"><%= current_user.nickname %>'s Profile</a>
        <!-- Dont we want to show the match's profile rather than the user? -->
        <!-- <a href="<%#= session[:current_user][" profileurl"] %>"><%#= chosen_opponent[:nickname] %>'s Profile</a> -->



  </div>
  </body>



</html>
