<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Found a Match</title>
​
</head>

<script>
  $(document).ready(function()  {
  $('.glyphicon-thumbs-up').click(function() {
    $(this).toggleClass('clicked-thumbs-up');
  })
  $('.glyphicon-thumbs-down').click(function() {
    $(this).toggleClass('clicked-thumbs-down');
  })
});
</script>
<body class="matchPageBody">
​
​
​
  <div class="match animated slideInDown">
​
    <br>
​
    <h1 style="text-align:center">Meet <%= @chosen_match[:user][:nickname] %>!</h1>
    <hr>
​
    <div class="row">
      <div class="col-lg-12" style="text-align:center; padding: 0 75px;">
        <div class="user-image" style="text-align:center; top: 25px;">

            <span><img src="<%= @chosen_match[:user][:user_image] %>"</span>
        </div>
          <div class="col-lg-12">
        ​    <h3 class="" style="margin-top:0"><%= @chosen_match[:user][:name] %></h3>
            <h4>from <%= @chosen_match[:user][:user_location] %></h4>
          </div>
          <div class="button-wrapper match-profile-button">
  ​           <%= link_to @chosen_match[:user][:user_profile], :target => "_blank", class: 'thelink ghost-button' do %>
                Add <%= @chosen_match[:user][:nickname] %>'s Profile
  ​
             <% end %>
          </div>

        <div class="gameList">
​          <h4 class="no-margin-top" style="text-align:center"><strong>They've also recently played: </strong></h4>
          <% @DisplayMatchedUserGames.games.map do |n| %>
​
          <a href="http://store.steampowered.com/app/<%= n.appid %>"><img src="http://media.steampowered.com/steamcommunity/public/images/apps/<%= n.appid %>/<%= n.img_icon_url %>.jpg ")/ style="width:50px; height:50px;" ></a>
​
          <% end %>

​
          <h4><%#= @games.sample %></h4>
          <%# byebug %>
        </div>
      </div>
      <div class="col-lg-12" style="">
        <!-- display matched user details-->

​
​
          <!-- display matched user details-->
​

            <%= render :partial => "ratings/form" %>
​
        <!-- user-image should have an assigned size -->
        <h4><%= @chosen_match[:user][:rating]%></h4>
​
        <h4><%= @chosen_match[:user][:games] %></h4>
      </div>
      <br>
    </center>
  </div>
</div>
​
​
</div>
</body>
​
​
​
</html>
